<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}Cell Phone Store{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/">Inicio</a>
            <a class="nav-item nav-link" href="/equipos_list">Equipos</a>
            <a class="nav-item nav-link" href="/accesorio_list">Accesorios</a>
            <a class="nav-item nav-link" href="/caracteristica_list">Caracteristicas</a>
            <a class="nav-item nav-link" href="/fabricante_list">Fabricante</a>
            <a class="nav-item nav-link" href="/marca_list">Marcas</a>
            <a class="nav-item nav-link" href="/modelo_list">Modelos</a>
            <a class="nav-item nav-link" href="/proveedor_list">Proveedores</a>
            <a class="nav-item nav-link" href="/stock">Stock</a>
        </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> 