{% extends "base_template.html" %}

{% block content %}
    <h1>Equipos</h1>
    <form action="" method="post">
        <input type="text" name="nombre" placeholder="Ingrese equipos">
        <input type="text" name="categoria" placeholder="Ingrese categoria">
        <input type="int" name="costo" placeholder="Ingrese costo">
        <select name="modelos">
            {% for modelo in modelos %}
                <option value="{{ modelo.id }}">{{ modelo.nombre }}</option>
            {% endfor %}
        </select>
        <select name="fabricantes">
            {% for fabricante in fabricantes %}
                <option value="{{ fabricante.id }}">{{ fabricante.nombre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Agregar</button>
    </form>
    <h2>Lista de Equipos</h2>
    <ul>
        {% for equipo in equipos %}
            <li>{{ equipo.nombre }} ({{ equipo.modelo.nombre }})</li>
        {% endfor %}
    </ul>
{% endblock %} 