{% extends 'base_template.html' %}

{% block content %}
<div class = "conteiner">
    <div class= "row">
        <div class="col-6">
            <h4> Crear una nuevo proveedor</h4>
            <form action="" method="post">
                <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre del proveedor"><!--nb-2 agrega margen-->
                <select name="fabricante:id" class="form-control mb-2">
                
                {% for fabricante in fabricantes %}
                    <option value="{{ fabricante.id }}">{{ fabricante.nombre }}</option>
                {% endfor %}

                </select>

                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-6">
            <h4>Listado de Vehiculos</h4>
            {% for marca in marcas %}
                <li> {{marca.nombre}}-{{marca.fabricante.nombre}}-{{marca.fabricante.pais}}</li>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock  %}